<div class="content">
<div class="Footer">
    <h2 class="Info-Header">Info</h2>
    <br>
    <div class="legal">
        <table>
            <td>
                <tr><a href="">Terms and Conditions</a></tr>
                <tr><a href="">Data Collection and Usage</a></tr>
                <tr><a href="https://github.com/XenonGreen/.github/blob/main/profile/README.md">Xenon Green</a></tr>
            </td>
        </table>
    </div>
    <div class="share">
        <table>
            <td>
                <tr><a href="mailto:listencardinal@gmail.com?subject=Invest in Cardinal">Invest</a></tr>
                <tr><a href="mailto:listencardinal@gmail.com?subject=Join the Cardinal Team?body=Hello,%0d%0aMy name is ___; I would like to provide my skills to help build and improve the Cardinal platform.  I have attached my resume and look forward to hearing back soon.%0d%0a%0d%0aThanks,%0d%0a___%0d%0aContact Info">Jobs</a></tr>
                <tr><a href="">Advertise</a></tr>
            </td>
        </table>
    </div>
    <div class="contact">
        <table>
            <td>
                <tr><a href="https://docs.google.com/forms/d/e/1FAIpQLSc9YYra6FOar3w-B1z7GbRsfi5kMz4jW3kHLdZ8SO9QyaPLaw/viewform?usp=sf_link" target="_blank">Make a Suggestion</a></tr>
                <tr><a href="https://docs.google.com/forms/d/e/1FAIpQLSd2hz0PedRe258UNvn0itS4seeMygyR96FW2-y7zcTDhP4Bew/viewform?usp=sf_link" target="_blank">Report a Problem</a></tr>
                <tr><a href="mailto:listencardinal@gmail.com">Contact Us</a></tr>
            </td>
        </table>
    </div>
</div>
</div>