.Footer {
    position: relative;
    display: flex;
}

.Info-Header {
    display: block;
    margin: auto;
    padding-right: 25;
    text-align: left;
}

table {
    display: block;
    margin: 50 auto;
    padding: auto;
    overflow: auto;
    position: relative;
    top: 0; left: 0; right: 0; bottom: 0;
}
