<div class="content">
<div class="Footer">
    <h2 class="Info-Header">Info</h2>
    <br>
    <div class="legal">
        <table>
            <td>
                <tr><a href="">Terms and Conditions</a></tr>
                <tr><a href="">Data Collection and Usage</a></tr>
                <tr><a href="">Other?</a></tr>
            </td>
        </table>
    </div>
    <div class="share">
        <table>
            <td>
                <tr><a href="">Invest</a></tr>
                <tr><a href="">Jobs</a></tr>
                <tr><a href="">Advertise</a></tr>
            </td>
        </table>
    </div>
    <div class="contact">
        <table>
            <td>
                <tr><a href="">Make a Suggestion</a></tr>
                <tr><a href="">Report a Problem</a></tr>
                <tr><a href="">Contact Us</a></tr>
            </td>
        </table>
    </div>
</div>
</div>