header {
    font-size: 28px;
    display: inline-flex;
    align: center;
    width: 100%;
}

.main {
    margin-left: 20%;
    margin-right: 20%;
}

a:before {
    text-decoration: none;
    text-decoration-color: orange;
}

a:after {
    text-decoration: none;
    text-decoration-color: orange;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: black;
}

#pageTitle {
    font-size: 42px;
}

#pageSpacer {
    margin-left:10%;
}

#pageAbout {
    text-align: right;
}

#pageReport {
    text-align: right;
}

#pageToS {
    text-align: right;
}

.bottomBar {
    width: 100%;
}

#footer {
    text-align: left;
}

#links {
    text-align: right;
}

.legal {
    display: inline-flex;
    align-items: left;
    padding-left: 10%;
    padding-right: 10%;
}

.share {
    display: inline-flex;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.contact {
    display: inline-flex;
    align-items: right;
    padding-left: 10%;
    padding-right: 10%;
}
