<div class="content">
  <h2>Contact Us</h2>
  <p>Give us your feedback!</p>

  <input type="hidden" #selection>

  <div class="card-container">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeKe4eXfAIsV5cdWxnVzd4WfwlF8nsSzvrbak88JNa15Trarg/viewform?usp=sf_link" target="_blank">
      <button class="card card-small" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
        </svg>
        <span>Signup for Updates</span>
      </button>
    </a>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSd2hz0PedRe258UNvn0itS4seeMygyR96FW2-y7zcTDhP4Bew/viewform?usp=sf_link" target="_blank">
      <button class="card card-small" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
        </svg>
        <span>Report a Problem</span>
      </button>
    </a>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSc9YYra6FOar3w-B1z7GbRsfi5kMz4jW3kHLdZ8SO9QyaPLaw/viewform?usp=sf_link" target="_blank">
      <button class="card card-small" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
        </svg>
        <span>Make a Suggestion</span>
      </button>
    </a>
    <a href="mailto:listencardinal@gmail.com?subject=Join the Cardinal Team?body=Hello,%0d%0aMy name is ___; I would like to provide my skills to help build and improve the Cardinal platform.  I have attached my resume and look forward to hearing back soon.%0d%0a%0d%0aThanks,%0d%0a___%0d%0aContact Info">
      <button class="card card-small" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
        </svg>
        <span>Join the Team</span>
      </button>
    </a>
    <a href="mailto:listencardinal@gmail.com?subject=Invest in Cardinal">
      <button class="card card-small" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
        </svg>
        <span>Invest in Our Project</span>
      </button>
    </a>
    <a href="">
      <button class="card card-small" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
        </svg>
        <span>Advertise with Us</span>
      </button>
    </a>
    <a href="mailto:listencardinal@gmail.com">
      <button class="card card-small" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
        </svg>
        <span>Contact Us</span>
      </button>
    </a>
  </div>
</div>